body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.background-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('back.jpg'); 
    background-size: cover;
    background-position: center;
    filter: blur(1px); 
    z-index: -1; 
    overflow: hidden;
    margin-top: 40px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5); /* Optional: to add a semi-transparent white overlay */
    z-index: -1;
}

header {
    background: rgba(255, 255, 255, 0.8);
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rutik {
    padding-top: 0px;
    padding-bottom: 0px;
}

.faint-text {
    opacity: 0.5;
    color: grey;
}

.logo span {
    color: #003135;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #003135;
    opacity: 0.7;
    font-size: 15px;
}
.nav-links a:hover {
    color: #17a2b8;
}

main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headline {
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 15px;
    color:  rgb(50, 124, 145);
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

.services {
    display: flex;
    justify-content: space-between;
    gap: 10px; /* Gap between boxes */
    width: calc(100% - 60px); /* Leave 30px space on left and right */
    max-width: 1000px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.service {
    padding: 22px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    position: relative;
    z-index: 1;
    width: 110px;
    height: 140px; 
    text-decoration: none;
    color: black;
    background-color: rgb(255, 250, 250);
}

.service img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.service h2 {
    font-size: 12px;
    margin: 15px 0;
}

.service p {
    font-size: 14px; 
    color: #964734;
    background-color: rgb(227, 221, 221);
    padding: 2px 4px; 
    border-radius: 4px;
    margin: 0 auto;
    display: inline-block;
    width: auto; 
}

.service:hover {
    background-color:white; 
    transform: scale(1.05);
    transition: transform 0.2s, background-color 0.2s;
    animation: shine 1.5s infinite;
}

.new {
    text-decoration: none;
}
